extends ./layout/index

block slider
    div(class="slider")
        h1 Río de Janeiro
        em Aventura

block contenido
    main.container.mt-5
        h2(class="text-center mb-5") Sobre Nosotros
        div(class="row mb-5")
            div(class="col-md-6")
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ullamcorper eleifend convallis. Proin at eros porttitor, dictum diam eget, fringilla ligula. Donec orci enim, lacinia non scelerisque sed, ullamcorper ac nisi. Praesent nulla erat, tristique in leo sed, rutrum accumsan mi. Sed ac orci ante. Donec eu arcu nec est blandit elementum vitae eget ex.
                p Ut vitae risus mi. Aenean suscipit ante accumsan feugiat accumsan. Integer vel sollicitudin massa. Aliquam cursus risus in risus varius fringilla. Nulla sagittis et eros sed eleifend. Vestibulum ut nunc pellentesque, vestibulum nunc at, commodo nibh. In vitae nisl at tortor finibus ullamcorper sed quis magna.
            div(class="col-md-6")
                img(src="/img/inicio_nosotros.jpg", alt="imgen nosotros", class="img-fluid")
        
        include ./layout/bloque_viajes.pug
    
    div(class="descuento")
        div(class="container")
            div(class="row")
                div(class="col-md-6")
                    div(class="contenido")
                        h3 5% de descuento 
                        p(class="titulo") Viaje a Canada
                        p(class="fecha") 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p(class="precio") 2.500 €
    
    .container
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales
        

