extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget tempus tellus, et scelerisque leo. Etiam egestas purus ex, et scelerisque purus blandit a. Suspendisse rhoncus, sem sit amet efficitur cursus, dui erat mollis mi, vel mattis metus ligula et risus. Morbi convallis tempus rhoncus. Nam vitae pellentesque lectus, at pretium libero. Aenean aliquet ex a tincidunt mattis. Mauris sed orci in leo ultricies consectetur. In sem neque, fringilla nec arcu at, volutpat pellentesque est. Sed et tincidunt quam, eget mattis odio. Curabitur sit amet congue odio. Ut dignissim rhoncus elit, nec gravida nisi cursus quis.

                p Etiam ultricies, est ut egestas auctor, enim quam tempor nisi, gravida auctor tortor orci finibus lacus. Aenean pharetra turpis non venenatis rutrum. Suspendisse hendrerit velit vitae ultricies elementum. Proin metus lorem, ultrices sit amet diam et, blandit luctus ligula. Aliquam ac mi eu tortor ornare finibus vel quis sem. Pellentesque rutrum erat ut neque sagittis lobortis. Mauris felis dui, ultricies non lectus in, volutpat placerat velit.

                p Nulla sit amet ultrices nibh. Sed at magna quis leo facilisis sodales. Vivamus id felis ac augue porttitor congue. Aliquam laoreet nibh gravida urna ullamcorper elementum. Vivamus venenatis mattis aliquet. Praesent cursus metus in turpis venenatis accumsan. Aenean vitae aliquam eros.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem doloremque laborum iusto nemo, rerum architecto vel nihil, ipsum dicta voluptatem suscipit voluptas pariatur ipsa, recusandae quae et laudantium. Repellat, praesentium.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem doloremque laborum iusto nemo, rerum architecto vel nihil, ipsum dicta voluptatem suscipit voluptas pariatur ipsa, recusandae quae et laudantium. Repellat, praesentium.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Mejores precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem doloremque laborum iusto nemo, rerum architecto vel nihil, ipsum dicta voluptatem suscipit voluptas pariatur ipsa, recusandae quae et laudantium. Repellat, praesentium.
